[tool.black]
line-length = 100
target-version = ['py37', 'py38', 'py39', 'py310']

[tool.isort]
profile = "black"
line_length = 100

[tool.ruff]
line-length = 100

[tool.pytest.ini_options]
markers = [
    "examples",
]
